.login-screen{
    margin-top: 200px;
    margin-right: 100px;
}
.login-text{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5rem;
}
.login-image{
    margin: 10% 2%;
    max-width: 80%;
}
.login-button{
    margin-top: 10%;
}
.login-container{
    display: flex;
    justify-content: space-around;
}
.image-container{
    max-width: 50%;
}