.main-container {
    background-color: #ffffff;
    padding-bottom: 2%;
}
/* .divider {
    border-left: grey 1px solid;
} */
.events-display {
    width: 40%;
    height: auto;
    height: 88vh;
    background-color: #fbfbfb;
    padding: 2%;
    border-radius: 5%;
    
}
.purple-card{
    background-color: #d7d8f2;
}
.green-card {
    background-color: #c7ebdc;
}
.orange-card {
    background-color: #ffd6c3;
}
.event-card {
    font-size: medium;
    border-radius: 5px 30px 5px;
    min-height: 10rem;
    width: 100%;
    margin-top: 3%;
    padding: 25px;
    padding-top: 28px;
    text-align: center;
}
.event-card-display {
    overflow-y:scroll;
    height: 75vh;
}
.event-card-day {
    font-weight: 700;
    font-size: 3rem;
}
.event-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 3%;
}
.calendar {
    /* margin: ; */
    /* box-sizing: border-box; */
    margin-top: 1%;
    font-size: 1rem;
    width: 60%;
    padding-left: 2%;
    padding-right: 2%;
    
}
.calendar .header {
    background-color: light-blue;
    text-align: center;
    min-height: 2rem;
    /* line-height: 2rem; */
    color: black;
    font-family: var(--font-book);
    font-weight: 700;
    margin-top: 5px;
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    /* display: block; */
}
.header {
    background-color: #ffffff;
}
.calendar .header div {
    display: inline-block;
    
}

.current{
    padding-top: 6px;
}

.calendar .navigation{
    margin-top: 5px;
}

.calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    align-items: center;
    font-weight: 700;
}

.calendar .body {
    /* border: 1px solid light-blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: #dadce0 1px solid;
}

/* .calendar .header .previous {
    
}
.calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
} */

.calendar .week {
    background-color: #ffffff;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    /* display: flex; */
}

.calendar .week div {
    width: calc(100% / 7);
}

.calendar .time-week {
    background-color: #ffffff;
    width: 5.5%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    border: #dadce0 1px solid;
    /* display: flex; */
}

.calendar .time-week div {
    width: 5.5%;
}

.calendar .weekly-week {
    background-color: #ffffff;
    width: calc(94.5%/7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    /* border: #dadce0 1px solid; */
    /* display: flex; */
}

.calendar .weekly-week div {
    width: calc(94.5%/7);
}
.calendar .week .day {
    border-left: #dadce0 1px solid;
}
.day {
    text-align: center;
    position: relative;
    width: calc(100% / 7);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: #dadce0 1px solid; */
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.day div {
    height: 40px;
    width: 40px;
    position: relative;
    color: black;
    z-index: 100;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
    /* padding: auto 5px; */
}

/* .calendar .weekly-day {
    width: calc(94.5% / 7);
}

.calendar .weekly-day div {
    width: calc(100% / 7);
} */

.calendar .day div.before {
    color: grey;
}

.calendar .day div.selected {
    
    background-color: #4a4ec6;
    color: White;
    font-weight: bold;
}

.calendar .day div.today {
    background-color: #a0a3ff;
    color: #ffffff;
}

.time-matrix{
    max-height: 61vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow-y:scroll;
}

.timeStamp{
    width: 5.5%;
    border-left: #dadce0 1px solid;
    height: 50px;
}

.timeStampMain{
    width: calc(94.5%/7);
}

.calendar .header .viewDropdown{
    display: block;
}

.calendar .day .holiday-display{
    font-size: 0.75rem;
    width: 100%;
    max-height: 12px;
    margin-bottom: 2px;
}