.sidebar{
    background-color: #6f51ed;
    max-width: 50px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    min-height: 700px;
}

.sidebar .content{
    margin-top: 140px;
}

.list-item{
    margin-top: 20px;
    display: block;
}
/* @keyframes side{
    from {
        border-left: 0 solid #000;
    } to {
        border-left: 10px solid #000;
    }
} */
.list-item:hover{
    /* animation: side 2s linear 0 1 normal; */
    border-left: 2.5px solid #ffd54f;
}

/* .list-item::before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 50% 50%;
} */

/* .list-item:hover::before {
    transform: scale3d(1, 1, 1);
} */

.MuiList-padding{
    padding: 10px;
}